body {
  background: linear-gradient(
    135deg,
    rgba(25, 78, 210, 0.6923144257703081) 0%,
    rgba(187, 43, 43, 1) 100%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
